<?xml version="1.0"?>
<robot name="dual_rm75_robot">

  <!-- ========= 躯干（来自 body.xacro） ========= -->
  <link name="body_base_link">
    <inertial>
      <origin xyz="8.29881405835771E-07 -5.3532918257625E-06 0.198818565488523" rpy="0 0 0"/>
      <mass value="8.5155782022903"/>
      <inertia ixx="0.201850314226133" ixy="-5.06694930271934E-10" ixz="-9.48976503588672E-09" iyy="0.204761154975021" iyz="2.58618526205492E-08" izz="0.354340781036558"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/body_base_link.STL"/>
      </geometry>
      <material name="body_material">
        <color rgba="0.615686274509804 0.643137254901961 0.674509803921569 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/body_base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="l1">
    <inertial>
      <origin xyz="-1.85181209349608E-17 0.00151839267827403 -0.00603883790053882" rpy="0 0 0"/>
      <mass value="0.118731147752395"/>
      <inertia ixx="0.000182169041161321" ixy="2.40193884269167E-20" ixz="2.97634121385344E-22" iyy="0.000179457262738528" iyz="-1.6668447882357E-07" izz="0.000358749973315938"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/l1.STL"/>
      </geometry>
      <material name="l_material">
        <color rgba="0.615686274509804 0.643137254901961 0.674509803921569 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/l1.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="l2">
    <inertial>
      <origin xyz="3.04453467345777E-17 0.00151839267827403 -0.00603883790053882" rpy="0 0 0"/>
      <mass value="0.118731147752395"/>
      <inertia ixx="0.000182169041161321" ixy="-2.29187700578068E-20" ixz="-3.43746697509271E-21" iyy="0.000179457262738528" iyz="-1.66684478823568E-07" izz="0.000358749973315938"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/l2.STL"/>
      </geometry>
      <material name="l_material"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/body/l2.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="l1_joint" type="fixed">
    <origin xyz="0.125000000000004 0 0.93" rpy="1.5707963267949 0 1.5707963267949"/>
    <parent link="body_base_link"/>
    <child link="l1"/>
  </joint>

  <joint name="l2_joint" type="fixed">
    <origin xyz="-0.124999999999995 0 0.93" rpy="1.5707963267949 0 -1.5707963267949"/>
    <parent link="body_base_link"/>
    <child link="l2"/>
  </joint>

  <!-- world -> body_base_link 固定连接 -->
  <link name="world"/>
  <joint name="body_base_joint" type="fixed">
    <parent link="world"/>
    <child link="body_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 3.141592653"/>
  </joint>

  <!-- ========= 右臂（prefix = right_，来自 rm_75_dummy） ========= -->
  <link name="right_dummy"/>

  <joint name="right_base_joint" type="fixed">
    <parent link="right_dummy"/>
    <child link="right_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="right_base_link">
    <inertial>
      <origin xyz="0.000433268851866144 3.54527840972405E-05 0.0599427623574736" rpy="0 0 0"/>
      <mass value="0.841071174772543"/>
      <inertia ixx="0.00172611149818605" ixy="2.52724703312125E-06" ixz="3.67689528877993E-05" iyy="0.00170987425756066" iyz="-1.68009023667311E-06" izz="0.000904023916742301"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/base_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="right_Link1">
    <inertial>
      <origin xyz="0.0251854224372461 1.19160585601655E-08 -0.021107996993288" rpy="0 0 0"/>
      <mass value="0.593563458735581"/>
      <inertia ixx="0.000561352422092522" ixy="9.8019294192418E-09" ixz="-0.000211217278563478" iyy="0.00126614121202124" iyz="1.29510293158304E-08" izz="0.0011816817861243"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link1.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link1.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint1" type="revolute">
    <origin xyz="0 0 0.2405" rpy="-1.5708 0 0"/>
    <parent link="right_base_link"/>
    <child link="right_Link1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="60" velocity="3.14"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link2">
    <inertial>
      <origin xyz="2.72859133252335E-07 0.011077753037361 0.0761295106490881" rpy="0 0 0"/>
      <mass value="0.432849770310974"/>
      <inertia ixx="0.00125838173873093" ixy="5.63146579602116E-09" ixz="1.33486683063366E-09" iyy="0.00122245448121472" iyz="0.000279003475762058" izz="0.000317474184276672"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link2.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link2.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="right_Link1"/>
    <child link="right_Link2"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.268" upper="2.268" effort="60" velocity="3.14"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link3">
    <inertial>
      <origin xyz="6.84676164566044E-07 0.0273475408308154 -0.0235440119707943" rpy="0 0 0"/>
      <mass value="0.431325495678459"/>
      <inertia ixx="0.000794332771462568" ixy="1.03353218375171E-08" ixz="-2.32798826854953E-09" iyy="0.000315065343266245" iyz="-0.000142620540462618" izz="0.000730371131605455"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link3.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link3.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint3" type="revolute">
    <origin xyz="0 0 0.256" rpy="-1.5708 0 0"/>
    <parent link="right_Link2"/>
    <child link="right_Link3"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="30" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link4">
    <inertial>
      <origin xyz="5.05312670298932E-06 0.0105690692118619 0.0595925663703773" rpy="0 0 0"/>
      <mass value="0.289633681619295"/>
      <inertia ixx="0.000637371004484591" ixy="-3.86643270900744E-08" ixz="7.05261290886955E-08" iyy="0.000614178164759844" iyz="0.000144610359942128" izz="0.000156483880946498"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link4.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link4.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint4" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="right_Link3"/>
    <child link="right_Link4"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.355" upper="2.355" effort="30" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link5">
    <inertial>
      <origin xyz="1.1551661767744E-06 0.0215394748352686 -0.0180424468598241" rpy="0 0 0"/>
      <mass value="0.239419768320061"/>
      <inertia ixx="0.000285938919722783" ixy="2.21994116852616E-09" ixz="3.07101358617598E-09" iyy="0.00011988808279186" iyz="-4.4236583260078E-05" izz="0.000262727540304212"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link5.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link5.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint5" type="revolute">
    <origin xyz="0 0 0.21" rpy="-1.5708 0 0"/>
    <parent link="right_Link4"/>
    <child link="right_Link5"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link6">
    <inertial>
      <origin xyz="3.19794787018954E-06 0.00736804250989373 0.0593808368101291" rpy="0 0 0"/>
      <mass value="0.218799761431682"/>
      <inertia ixx="0.000350540363914436" ixy="-1.7705645712277E-08" ixz="3.41781620449632E-08" iyy="0.000334482418423991" iyz="7.82431228462317E-05" izz="0.000104927867487584"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link6.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link6.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint6" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="right_Link5"/>
    <child link="right_Link6"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.233" upper="2.233" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="right_Link7">
    <inertial>
      <origin xyz="0.000714238382876259 -0.000396711987952758 -0.0126723660946126" rpy="0 0 0"/>
      <mass value="0.0649018034311231"/>
      <inertia ixx="2.02766547502765E-05" ixy="-1.32505200276848E-06" ixz="-2.58450915224912E-08" iyy="1.87986725225022E-05" iyz="3.39471452123283E-09" izz="3.17885459163081E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link7.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link7.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_joint7" type="revolute">
    <origin xyz="0 0 0.144" rpy="0 0 0"/>
    <parent link="right_Link6"/>
    <child link="right_Link7"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28" upper="6.28" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <!-- 右臂 transmissions -->
  <transmission name="right_joint1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint4_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint4_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint5_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint5_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint6_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint6_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_joint7_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_joint7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_joint7_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- 右肩固定挂载到躯干 l1 -->
  <joint name="right_shoulder_joint" type="fixed">
    <parent link="l1"/>
    <child link="right_dummy"/>
    <origin xyz="0 0 0" rpy="0 0 1.57"/>
  </joint>

  <!-- ========= 左臂（prefix = left_，来自 rm_75_dummy） ========= -->
  <link name="left_dummy"/>

  <joint name="left_base_joint" type="fixed">
    <parent link="left_dummy"/>
    <child link="left_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="left_base_link">
    <inertial>
      <origin xyz="0.000433268851866144 3.54527840972405E-05 0.0599427623574736" rpy="0 0 0"/>
      <mass value="0.841071174772543"/>
      <inertia ixx="0.00172611149818605" ixy="2.52724703312125E-06" ixz="3.67689528877993E-05" iyy="0.00170987425756066" iyz="-1.68009023667311E-06" izz="0.000904023916742301"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/base_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="left_Link1">
    <inertial>
      <origin xyz="0.0251854224372461 1.19160585601655E-08 -0.021107996993288" rpy="0 0 0"/>
      <mass value="0.593563458735581"/>
      <inertia ixx="0.000561352422092522" ixy="9.8019294192418E-09" ixz="-0.000211217278563478" iyy="0.00126614121202124" iyz="1.29510293158304E-08" izz="0.0011816817861243"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link1.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link1.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint1" type="revolute">
    <origin xyz="0 0 0.2405" rpy="-1.5708 0 0"/>
    <parent link="left_base_link"/>
    <child link="left_Link1"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="60" velocity="3.14"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link2">
    <inertial>
      <origin xyz="2.72859133252335E-07 0.011077753037361 0.0761295106490881" rpy="0 0 0"/>
      <mass value="0.432849770310974"/>
      <inertia ixx="0.00125838173873093" ixy="5.63146579602116E-09" ixz="1.33486683063366E-09" iyy="0.00122245448121472" iyz="0.000279003475762058" izz="0.000317474184276672"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link2.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link2.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint2" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="left_Link1"/>
    <child link="left_Link2"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.268" upper="2.268" effort="60" velocity="3.14"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link3">
    <inertial>
      <origin xyz="6.84676164566044E-07 0.0273475408308154 -0.0235440119707943" rpy="0 0 0"/>
      <mass value="0.431325495678459"/>
      <inertia ixx="0.000794332771462568" ixy="1.03353218375171E-08" ixz="-2.32798826854953E-09" iyy="0.000315065343266245" iyz="-0.000142620540462618" izz="0.000730371131605455"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link3.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link3.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint3" type="revolute">
    <origin xyz="0 0 0.256" rpy="-1.5708 0 0"/>
    <parent link="left_Link2"/>
    <child link="left_Link3"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="30" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link4">
    <inertial>
      <origin xyz="5.05312670298932E-06 0.0105690692118619 0.0595925663703773" rpy="0 0 0"/>
      <mass value="0.289633681619295"/>
      <inertia ixx="0.000637371004484591" ixy="-3.86643270900744E-08" ixz="7.05261290886955E-08" iyy="0.000614178164759844" iyz="0.000144610359942128" izz="0.000156483880946498"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link4.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link4.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint4" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="left_Link3"/>
    <child link="left_Link4"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.355" upper="2.355" effort="30" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link5">
    <inertial>
      <origin xyz="1.1551661767744E-06 0.0215394748352686 -0.0180424468598241" rpy="0 0 0"/>
      <mass value="0.239419768320061"/>
      <inertia ixx="0.000285938919722783" ixy="2.21994116852616E-09" ixz="3.07101358617598E-09" iyy="0.00011988808279186" iyz="-4.4236583260078E-05" izz="0.000262727540304212"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link5.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link5.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint5" type="revolute">
    <origin xyz="0 0 0.21" rpy="-1.5708 0 0"/>
    <parent link="left_Link4"/>
    <child link="left_Link5"/>
    <axis xyz="0 -1 0"/>
    <limit lower="-3.1" upper="3.1" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link6">
    <inertial>
      <origin xyz="3.19794787018954E-06 0.00736804250989373 0.0593808368101291" rpy="0 0 0"/>
      <mass value="0.218799761431682"/>
      <inertia ixx="0.000350540363914436" ixy="-1.7705645712277E-08" ixz="3.41781620449632E-08" iyy="0.000334482418423991" iyz="7.82431228462317E-05" izz="0.000104927867487584"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link6.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link6.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint6" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="left_Link5"/>
    <child link="left_Link6"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.233" upper="2.233" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <link name="left_Link7">
    <inertial>
      <origin xyz="0.000714238382876259 -0.000396711987952758 -0.0126723660946126" rpy="0 0 0"/>
      <mass value="0.0649018034311231"/>
      <inertia ixx="2.02766547502765E-05" ixy="-1.32505200276848E-06" ixz="-2.58450915224912E-08" iyy="1.87986725225022E-05" iyz="3.39471452123283E-09" izz="3.17885459163081E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link7.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/RM75/link7.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_joint7" type="revolute">
    <origin xyz="0 0 0.144" rpy="0 0 0"/>
    <parent link="left_Link6"/>
    <child link="left_Link7"/>
    <axis xyz="0 0 1"/>
    <limit lower="-6.28" upper="6.28" effort="10" velocity="3.92"/>
    <dynamics damping="50" friction="1"/>
  </joint>

  <!-- 左臂 transmissions -->
  <transmission name="left_joint1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint1">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint2_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint2">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint2_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint3_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint3">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint3_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint4_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint4">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint4_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint5_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint5">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint5_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint6_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint6">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint6_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_joint7_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_joint7">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_joint7_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- 左肩固定挂载到躯干 l2 -->
  <joint name="left_shoulder_joint" type="fixed">
    <parent link="l2"/>
    <child link="left_dummy"/>
    <origin xyz="0 0 0" rpy="0 0 1.57"/>
  </joint>

  <!-- add tool0 between Link7 and dh_base -->
  <link name="right_tool0"/>
  <joint name="right_tool0_joint" type="fixed">
    <parent link="right_Link7"/>
    <child link="right_tool0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- move dh mount to tool0 -->
  <joint name="right_dh_mount_joint" type="fixed">
    <parent link="right_tool0"/>
    <child link="right_dh_base_link"/>
    <origin xyz="0 0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="right_dh_base_link">
    <inertial>
      <origin xyz="-2.97896383687117E-05 -0.00119414606853069 0.0383013066202999" rpy="0 0 0"/>
      <mass value="0.407689241604604"/>
      <inertia ixx="0.000382601149885368" ixy="-2.00188830802339E-08" ixz="-2.74934362808617E-08" iyy="0.000182283012175943" iyz="2.92748971762364E-07" izz="0.000433183926992861"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_base_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="right_dh_finger1_link">
    <inertial>
      <origin xyz="0.00194790394990391 0.00918650753677023 0.00947748977599767" rpy="0 0 0"/>
      <mass value="0.0589543896992846"/>
      <inertia ixx="2.37128965154064E-05" ixy="3.83269385718325E-06" ixz="4.94815116549899E-06" iyy="3.37272907966156E-05" iyz="-4.62772008724202E-06" izz="1.98369145830284E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger1_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger1_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_dh_base_finger1_joint" type="prismatic">
    <parent link="right_dh_base_link"/>
    <child link="right_dh_finger1_link"/>
    <origin xyz="-0.0184 0.0 0.09325" rpy="0 0 -1.5708"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.04" effort="30" velocity="0.5"/>
  </joint>

  <link name="right_dh_finger2_link">
    <inertial>
      <origin xyz="0.00194790394990389 0.00918650753677023 0.00947748977599765" rpy="0 0 0"/>
      <mass value="0.0589543896992846"/>
      <inertia ixx="2.37128965154064E-05" ixy="3.83269385718325E-06" ixz="4.94815116549898E-06" iyy="3.37272907966157E-05" iyz="-4.62772008724202E-06" izz="1.98369145830284E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger2_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger2_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="right_dh_base_finger2_joint" type="prismatic">
    <parent link="right_dh_base_link"/>
    <child link="right_dh_finger2_link"/>
    <origin xyz="0.0184 0.0 0.09325" rpy="0 0 1.5708"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.04" effort="20" velocity="0.5"/>
    <!-- mimic behavior in URDF is usually via <mimic>, here keep separate; if needed add mimic joint -->
  </joint>

  <link name="right_dh_center_link"/>
  <joint name="right_dh_base_center_joint" type="fixed">
    <parent link="right_dh_base_link"/>
    <child link="right_dh_center_link"/>
    <origin xyz="0 0 0.14124" rpy="3.1416 -1.5708 0"/>
  </joint>

  <link name="right_dh_load1_link"/>
  <joint name="right_dh_base_load1_joint" type="fixed">
    <parent link="right_dh_base_link"/>
    <child link="right_dh_load1_link"/>
    <origin xyz="-0.030325 0 0.0619" rpy="3.1416 -1.5708 0"/>
  </joint>

  <!-- 右侧夹爪 transmission -->
  <transmission name="right_dh_base_finger1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_dh_base_finger1_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_dh_base_finger1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- ================= 添加 DH PGI 夹爪（左侧，前缀 left_dh_） ================= -->
    <link name="left_tool0"/>
    <joint name="left_tool0_joint" type="fixed">
      <parent link="left_Link7"/>
      <child link="left_tool0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="left_dh_mount_joint" type="fixed">
      <parent link="left_tool0"/>
      <child link="left_dh_base_link"/>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
    </joint>

  <link name="left_dh_base_link">
    <inertial>
      <origin xyz="-2.97896383687117E-05 -0.00119414606853069 0.0383013066202999" rpy="0 0 0"/>
      <mass value="0.407689241604604"/>
      <inertia ixx="0.000382601149885368" ixy="-2.00188830802339E-08" ixz="-2.74934362808617E-08" iyy="0.000182283012175943" iyz="2.92748971762364E-07" izz="0.000433183926992861"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_base_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_base_link.STL"/>
      </geometry>
    </collision>
  </link>

  <link name="left_dh_finger1_link">
    <inertial>
      <origin xyz="0.00194790394990391 0.00918650753677023 0.00947748977599767" rpy="0 0 0"/>
      <mass value="0.0589543896992846"/>
      <inertia ixx="2.37128965154064E-05" ixy="3.83269385718325E-06" ixz="4.94815116549899E-06" iyy="3.37272907966156E-05" iyz="-4.62772008724202E-06" izz="1.98369145830284E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger1_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger1_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_dh_base_finger1_joint" type="prismatic">
    <parent link="left_dh_base_link"/>
    <child link="left_dh_finger1_link"/>
    <origin xyz="-0.0184 0.0 0.09325" rpy="0 0 -1.5708"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.04" effort="30" velocity="0.5"/>
  </joint>

  <link name="left_dh_finger2_link">
    <inertial>
      <origin xyz="0.00194790394990389 0.00918650753677023 0.00947748977599765" rpy="0 0 0"/>
      <mass value="0.0589543896992846"/>
      <inertia ixx="2.37128965154064E-05" ixy="3.83269385718325E-06" ixz="4.94815116549898E-06" iyy="3.37272907966157E-05" iyz="-4.62772008724202E-06" izz="1.98369145830284E-05"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger2_link.STL"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file:///home/zz/mujoco_RL_file/robosuite/pico_vr/XRoboToolkit-Teleop-Sample-Python/assets/dual_RM75/meshes/dh_pgi/dh_finger2_link.STL"/>
      </geometry>
    </collision>
  </link>

  <joint name="left_dh_base_finger2_joint" type="prismatic">
    <parent link="left_dh_base_link"/>
    <child link="left_dh_finger2_link"/>
    <origin xyz="0.0184 0.0 0.09325" rpy="0 0 1.5708"/>
    <axis xyz="-1 0 0"/>
    <limit lower="0" upper="0.04" effort="20" velocity="0.5"/>
  </joint>

  <link name="left_dh_center_link"/>
  <joint name="left_dh_base_center_joint" type="fixed">
    <parent link="left_dh_base_link"/>
    <child link="left_dh_center_link"/>
    <origin xyz="0 0 0.14124" rpy="3.1416 -1.5708 0"/>
  </joint>

  <link name="left_dh_load1_link"/>
  <joint name="left_dh_base_load1_joint" type="fixed">
    <parent link="left_dh_base_link"/>
    <child link="left_dh_load1_link"/>
    <origin xyz="-0.030325 0 0.0619" rpy="3.1416 -1.5708 0"/>
  </joint>

  <!-- 左侧夹爪 transmission -->
  <transmission name="left_dh_base_finger1_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_dh_base_finger1_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_dh_base_finger1_motor">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- ================= EEF target frames (match MuJoCo *_gripper_center) ================= -->

  <link name="right_gripper_center"/>
  <joint name="right_gripper_center_joint" type="fixed">
    <parent link="right_Link7"/>
    <child link="right_gripper_center"/>
    <!-- 对齐 MuJoCo: right_dh_center_link pos="0 0 0.14124" quat="0.7071 -0.7071 0 0" -->
    <!-- 下面 rpy 是等价旋转（约 -90deg 绕 X 轴） -->
    <origin xyz="0 0 0.14124" rpy="-1.57079632679 0 0"/>
  </joint>

  <link name="left_gripper_center"/>
  <joint name="left_gripper_center_joint" type="fixed">
    <parent link="left_Link7"/>
    <child link="left_gripper_center"/>
    <origin xyz="0 0 0.14124" rpy="-1.57079632679 0 0"/>
  </joint>

</robot>


